{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
    <title>Register Page</title>
</head>
<body>
    <nav>
        <a href="#"><img src="{% static 'authentication/img/logo.png' %}" alt="logo" class="logo"></a>
    </nav>
    <div class="form-wrapper">
        <h2>Sign Up</h2>
        {{error}}
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-control">
                <input id="username" type="text" name="username" required>
                <label for="username">Username</label>
            </div>
            <div class="form-control">
                <input id="email" type="text" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="form-control">
                <input id="password1" type="password" name="password1" required>
                <label for="password1">Password</label>
            </div>
            <div class="form-control">
                <input id="password2" type="password" name="password2" required>
                <label for="password2">Confirm password</label>
            </div>
            <button>Sign Up</button>

            <div class="form-help">
                <div class="remember-me">
                    <input type="checkbox" id="remember-me" required>
                    <label for="remember-me">I accept the terms and conditions</label>
                </div>
            </div>
        </form>
        <p>Do you already have an account? <a href="{% url 'signin' %}">Sign in now</a></p>
    </div>
</body>
</html>